@import '../common-imports';


.c{
    &-leadspace{
        &--topSpacing{
            padding-top: 16.8rem;
        }
        &-title{
            position: relative;
            z-index: 2;
            &--maxWidth{
                max-width: 58.6%;
            }
        }
        &-image{
            z-index: 1;
            position: relative;
            &--negSpacing{
                margin-top: -2rem;
                @include media-breakpoint-up(lg){
                    margin-top: -6rem;
                }
     
            }
            &--maxWidth{
                max-width: 17.1rem;
                @include media-breakpoint-up(lg){
                    max-width: 29.6rem;
                }
            }
        }
    }
}
